:root {
  --bg-button: #f0f0f0;
  --bg-active-button: #ccc;
  --bg-button-operation: #fa8231;
  --bg-border-button-operation: #ba6115;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
}

.button:active {
  background-color: var(--bg-active-button);
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: var(--bg-button-operation);
  color: var(--bg-button);
  border-color: var(--bg-border-button-operation);
}

.button.operation:active {
  background-color: var(--bg-border-button-operation);
}
